:root{
    --bg-color:#202024;
    --white-color:#ffff;
    --transaction-button-cl:#00875F;
    --card-bg:#323238;
    --card-text-cl:#E1E1E6;
    --active-card-cl:#015F43;
    --input-cl:#121214;
    --search-btn-cl:#00b37E;
    --salary-box-cl:#29292E;
    --salary-month-cl:#C4C4CC;
    --chevron-box-cl:#015F43;
    --chevron-text-cl:#8D8D99;
    --salary-minus-cl:#F75A68;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: swap;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 3vw;
}

button{
    cursor: pointer;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: var(--bg-color);
}

header{
    position: relative;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(1.5rem,3vw,2.75rem) 0;
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    background-color:var(--input-cl) ;
    top: 0;
    left: 0;
    height: clamp(140px, 20vw, 212px);
    z-index: -1;
}

.header-brand{
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.header-brand span{
    font-weight: 700;
    font-size: clamp(1.1rem,4vw ,1.6rem);
    color:var(--white-color);
}

.transaction-button{
    background-color: var(--transaction-button-cl);
    border: none;
    color: var(--white-color);
    font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.1rem);
    padding: clamp(8px, 1vw + 6px, 12px) clamp(14px, 1vw + 10px, 20px);
    border-radius: 0.375rem;
    line-height: clamp(100%,3vw,160%);
}

.cards__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(15px,3vw,32px);
    margin-bottom:clamp(1.5rem,3vw,2.75rem) ;
}

.card{
    padding: clamp(14px,3vw,24px);
    background-color: var(--card-bg);
    border-radius: 0.375rem;
    color: var(--card-text-cl);
    flex-grow: 1;
    cursor: pointer;
}

.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-top span{
    font-size: clamp(0.8rem,3vw,1rem);
}

.card-bottom h3{
    font-size: clamp(1.2rem,3vw,2rem);
}

.cards__wrapper .card:nth-child(3){
    background-color: var(--active-card-cl);
}

.search__wrapper form{
    display: flex;
    justify-content: space-between;
    gap: clamp(0.6rem,3vw,1rem);
    margin-bottom: clamp(0.6rem,3vw,1.2rem);
 
}

#search{
    background-color: var(--input-cl);
    border: none;
    padding: clamp(0.6rem,3vw,1rem);
    border-radius: 0.375rem;
    flex-grow: 1;
}

.search-btn{
    display: flex;
    align-items: center;
    gap: clamp(6px,2vw,12px);
    padding:clamp(8px,3vw,14px) clamp(22px,3vw,32px);
    background: none;
    color: var(--transaction-button-cl); 
    border: 1px solid var(--transaction-button-cl);
    border-radius: 0.375rem;

}

.salary-box{
    border-radius: 0.313rem;
    background-color: var(--salary-box-cl);
    margin: 8px 0;
    padding:  clamp(12px,3vw,20px) clamp(15px,3vw,32px);
    display: grid;
    grid-template-columns: 1.8fr 0.8fr 1fr 0.7fr;
    align-items: center;
    gap: clamp(0.4rem,3vw,1rem);
}

.salary-month,
.company-name,
.salary-date{
    color: var(--salary-month-cl);
  
}

.salary,
.salary-date,
.salary-month,
.company-name{
  font-size: clamp(0.6rem,3vw,1rem);
}


.salary-plus{
    color: var(--search-btn-cl);
}

.salary-minus{
    color:var(--salary-minus-cl) ;
}


.salary,
.company-name,
.salary-date{
    flex-grow:1;
}

.chevron__wrapper,
.chevron-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron-inner{
    gap: 0 clamp(4px,3vw,8px);
    margin: clamp(18px,3vw,46px);
}



.chevron-inner span{
    width: clamp(20px,5vw,40px);
    height: clamp(20px,5vw,40px);
    border-radius: 6px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem,3vw,1rem);
}

.chevron-inner span:nth-child(2){
    background-color:var(--chevron-box-cl) ;
    color: var(--white-color);
}
.chevron-inner span:nth-child(3),
.chevron-inner span:nth-child(4){
    background-color: var(--card-bg);
    color: var(--chevron-text-cl);

}

